body {
	background-color: #B0C4DE;
	border: 10px solid midnightblue;
	font-family: Georgia;
	margin: 25px 250px 25px 250px;
}
h1 {
	text-align: center;
}
p {
	font-weight: bold;
	text-align: center;
}

img {
	height: 200px;
	width: 200px;
	float: right;
	margin-right: 50px;

}
h2 {
	text-align: center;
}
a {
	margin-left: 100px;
}
ul {
	margin-left: 100px;
}

